<section>
{% for block in section.blocks %}
<div class="jumbotron jumbotron-fluid" style="background:url({{ block.settings.image | img_url:'medium'}})">
  <div class="container">
    <h1 class="display-4">{{ block.settings.title }}</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
{% endfor %}
  </div>
</div>

                  

{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      { 
        "type": "header",
        "content": "Image Slider"
      },
      {
          "type": "text",
          "id": "title",
          "label": "heading",
          "default": "Slider Title"
      }
    ],

    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
              "id": "title",
              "type": "text",
              "label": "Image Title"
          }
        ]
      }
    ],

    "presets": [
        {
            "name": "Image Slider",
            "category": "Image"
        }
    ]
  }
        
{% endschema %}